<%- include("partials/header.ejs") %>
<h1>Welcome to edits page</h>

    <% if(locals.name && noOfBlogs>0) { %>
        <h1>Which blog do you wanna Edit?</h1>
          <ul>
              <% for(var i=0; i< noOfBlogs; i++) { %>
                  <li><%= name[i] %></li>
                  <% } %>
                  <form style="display: inline-block;" action="/edit" method="POST">
                    <h1 class="h3 mb-3 fw-normal"> Edit a Blog</h1>
                
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInput" placeholder="Name of Blog" name="blogname" required>
                      <label for="floatingInput">Enter Name</label>
                    </div>
                    <div class="form-floating">
                        <textarea name="blogDesc" type="text" id="floatingPassword" placeholder="Blog" rows="10" cols="30" required ></textarea>
                    </div>
                    <button class="btn btn-primary w-100 py-2" type="submit" value="Edit">Edit</button>
                  </form>
                  
                 <% }else { %>
                    <h1>You currently dont have any blogs.</h1>
                    <% } %>
          </ul>
<%- include("partials/footer.ejs") %>
    
